#body_1, #body_2 {
    background-color: rgb(26, 26, 26);
    margin: 0 50px;
}

h1, h2 {
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: auto auto;
    line-height: 1.6;
}

#body_2 {
    align-items: center;
    margin: auto auto;
    display: block;
}

img {
    width: 50%;
    align-items: center;
    margin: auto auto;
    display: block;
    border: solid 3px aliceblue;
}